.mat-grid-tile-content {
  align-items: start !important;
  justify-content: start;
}
.mat-card-image-box {
  width: 220px;
  height: 300px;
  border-radius: inherit;
}
.small {
  font-size: 10px;
  font-weight: bolder;
  text-wrap: nowrap;
}
mat-cad-actions button {
  filter: drop-shadow(5px, 5px, rgba(17, 17, 26, 0.1));
}
.accent{
  color: #ff4081;
}